html,
body {
  max-width: 100dvw;
  overflow-x: hidden;
  font-size: small;
  /* font-family: var(--cutiveMono-font); */
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

nav {
  margin-top: 0.7rem;
  margin-left: 1.8rem;
  margin-right: 1.8rem;
  margin-bottom: 1.8rem;
  scrollbar-width: none;  /* Firefox */
  -ms-overflow-style: none;  /* IE and Edge */
}
nav::-webkit-scrollbar {
  display: none; /* for Chrome, Safari and Opera */
}

/* Navigation */
.MuiButtonBase-root{
  height: 2.7rem; 
  max-width: fit-content;
  padding: 0.9rem;
  margin-top: 0.45rem;
  flex-direction: row-reverse;
  gap:1rem;
}
.MuiListItemText-root{
  height: 8px;
  line-height: 8px;
  margin-bottom: unset  ;
}
.MuiListSubheader-root{
  margin-top: 0.9rem;
  font-size: 10px;
}

/* Lightbox */
.yarl__toolbar .yarl__button{
  color:#fff !important;
  filter:none !important;
}

.yarl__navigation_next, .yarl__navigation_prev {
  color:#000 !important;
  filter:none !important;
  background: #fff !important;
}
.yarl__button:disabled {
  color:#fff !important;
  opacity: 0.5 !important;
}

.yarl__slide_captions_container {
  width: 300px !important;
  top: 60px !important;
  right: 20px !important;
  bottom: unset !important;
  left: unset !important;
  background: none !important;
}
.yarl__slide_description {
  color:#000 !important;
  background: #fff !important;
  display: inline !important;
  padding-top: 12px;
  padding-bottom: 12px;
  position: absolute;
}

@media only screen and (max-width: 600px) {
  nav {
    margin-left: 0.9rem;
    margin-right: 0.9rem;
  }

  .yarl__slide {
    display: block !important;
  }
  .yarl__slide_captions_container {
    display: inline-block !important;
    position: relative !important;
    top: 20px !important;
    width: calc(100dvw - 32px) !important;
    left: calc(5dvw - 16px) !important;
    padding: 0 !important;
  }
  .yarl__slide_wrapper {
    display: table-caption !important;
  }

}